
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html, body {
            height: 100%;
            font-family: 'Amazon Ember', sans-serif;
        }
        body{
            background-color: rgb(255, 255, 255);
            
        }


        header {
            background-color: #131921;
            width: 100%;
            height: 7.8%; 
            color: white;
            display: flex;
            align-items: center;
            padding: 0 10px;
        }
        .header-logo {
            height: 100%;
            padding: 0 10px;
        }
        .header-location {
            display: flex;
            align-items: center;
            padding: 0 10px;
        }
        .header-location img {
            padding-left: 2%;
            height: 30px;
        }
        .location-text p {
            font-size: 0.8em;
            color: #ccc;
        }
        .location-text h3 {
            font-size: 1em;
        }
        .Texto-Sup {
            font-size: 0.7em;
        }
        .Texto-inf{
            font-weight: 700;
        }
        
        .search-container {
            width: 150%;
            display: flex;
            align-items: center;
            height: 50%;
            padding-left: 1%;
        }
        
        .search-container input {
            width: 150%;
            height: 100%;
            border: none;
            border-radius: 0 0 0 0;
            font-size: 1em;
            padding-left: 1%;
            outline: none;
        }

        .search-container select {
            height: 100%;
            cursor: pointer;
            border: none;
            width: 60px;
            padding: 0.5%;
            white-space: nowrap;
            border-radius: 4px 0 0 4px;
        }
        .search-container select:focus {
            outline: none;
            border: 4px solid #F2C744;
            box-shadow: 0 0 5px #F2C744; 
        }
        .search-container img{
            background-color: #F2C744;
            height: 100%;
            cursor: pointer;
            border-radius: 0 4px 4px 0;
        }
.dropdown {
    display: flex;
    width: 100%;
    height: 50%;
    position: relative;
    margin-left: 2%;
    
}
.pestaña {
    display:none;
    margin-top: 5%;
    margin-left: -2%;
    color: rgb(255, 255, 255);
    background: none;
    font-size: 150%;
    z-index: 10;
    cursor: default;
}

.dropdown img {
    margin-top: 2%;
    width: auto;
    height: 50%;   

}
.dropdown p{
    margin-top: 2.5%;
    font-weight: bold;
}

.dropdown button {   
    height: auto;
    max-width: 3%; 
    width: 8%;
    cursor: pointer;
    font-size: 150%;
    color: white;
    background: none;
    border: none;
    border-radius: 3px;
    z-index: 10;
    margin-top: 1.5%;
}


    .dropdown-content {
      display: none;
      margin-top: 8.5%;
      margin-left: 9%;
      position: absolute;
      background-color: #ffffff;
      min-width: 10%;
      color: black;
      z-index: 1;
      width: fit-content;
      padding-bottom: 10%;
      padding-left: 1%;
      padding-right: 10%;
    }
    .dropdown-content img{
      height: 5%;
      width: 10%;
    }


    .dropdown:hover .dropdown-content {
      display: grid;
    }

    .dropdown:hover .pestaña{
        display: grid;
    }

    
    .divider{
        border-top: 1px solid #000000;
        margin: 10px 0px;
        width: auto;
    }
    main{
        width: 100%;
        height: 92.2%; 
        background-color: rgb(255, 255, 255);
    }
        
